.welcome{
    height: 60px;
    padding: 20px;
    text-align: center;
    color: rgb(165, 157, 42);
    background-image: url(background.jpg);
    background-size: cover;
   font-size: 50px;
}
.main-div{
    display:flex;
    justify-content: space-between;
    margin: 20px;
}
.block-1{
    width: 33%;
}
.block-2{
    width: 33%;
    display: block;
    text-align: center;
}
.block-3{
    width: 33%;
}
.image{
    margin: 5px;
    margin-top: 80px;
}
p{
   text-align: justify;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.body{
    max-width: 80%;
    margin: auto;
}
.lorem{
    display: flex;
}
.lorem-ipsum{
    color:yellow ;
  font-size: 48px;
  width: 50%;
  text-align: center;
}
p{
    font-size: 12px;
    color: darkgray;
}
.div-img-list{
    display: flex;
}
.img-block{
    width: 70%;
    display: block;
    text-align: center;
}
.block-list{
    width: 30%;
}
.list{
    list-style: none;
}
.list-li{
    margin-top: 20px;
}
img{
    width: 50%;
}
