.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}
.col-10{
    width:  83.33%;
}
.col-11{
    width: 91.66%;
}
.col-12{
    width: 100%;
}
[class*="col-"]{
    display: flex;
    flex-direction: column;
}
body{
    max-width: 1920px;
    margin: auto;
    padding: 10px;
    background: #f1f1f1;
}
.header{
    text-align: center;
    padding: 30px;
    background: white;
}
h1{
    font-family: 'Roboto Mono', monospace;
    font-size: 3rem;
}
h2{
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-family: 'Mate SC', serif;
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
}
p{
    font-family: 'Mate SC', serif;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5rem;
}
.nav-bar{
    display: flex;
    background: #333;
    justify-content: space-between;
}
.nav-bar a{
    margin: 10px;
    color: crimson;
}
.nav-bar-links{
    display: flex;
}
form {
    margin-right: 20px;
}
.google-search-form{
    display: flex;
    flex-flow: row wrap;
}
footer{
    text-align: center;
    background: lightgray;
    padding: 20px;
    margin-top: 15px;
}
.container{
    display: flex;
}
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
.right-column{
    padding-left: 20px;
    background-color:#f1f1f1; 
}
img{
    width: 100%;
}
@media screen and (max-width: 720px){
    .container{
        flex-direction: column;
    }
    [class*="col-"]{
        width: 100%;
    }
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.5rem;
    }
    p{
        font-size: 1rem;
    }
}